<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.berkay.banking_system_security.repository.IAccountRepository">



	<resultMap type="Account" id="getAccount">
		
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="email" property="email"/>
        <result column="tc" property="tc"/>
        <result column="type" property="type"/>
        <result column="user_id" property="userId"/>
        <result column="account_number" property="accountNumber"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="balance" property="balance"/>
        <result column="id_deleted" property="deleted"/>
	       
	</resultMap>

	<select id="findById" resultMap="getAccount" >
		SELECT * FROM accounts WHERE id= #{id}
	</select>



	<update id="updateRecord" parameterType="Account">
		UPDATE accounts
		SET name = #{name},
			surname = #{surname}, 
			email = #{email}, 
			tc = #{tc}, 
			type = #{type}, 
			account_number = #{accountNumber}, 
			last_update_date = #{lastUpdateDate}, 
			balance = #{balance},
			user_id = #{userId}
		WHERE id=#{id};
			
	</update>
	
	
		
	<update id = "deleteById" parameterType = "map">
      UPDATE accounts
      SET 
      	is_deleted=#{deleted},
      	last_update_date=#{lastUpdateDate} 
      WHERE id = #{accountId};
   </update>
	
	
	
	<insert id="createRecord" parameterType="Account" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO accounts(name, surname, email, tc, type, account_number, last_update_date, balance, user_id)
		VALUES(
			#{name},
			#{surname}, 
			#{email}, 
			#{tc}, 
			#{type}, 
			#{accountNumber}, 
			#{lastUpdateDate}, 
			#{balance},
			#{userId}
		)
	</insert>
</mapper>	
